.dropTitle {
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 30px;
  }
  

.dropContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding: 20px;
}

.dropContainer h2 {
    font-size: 40px;
}

.location {
  box-shadow: 2px 2px black;
}

.location h3 {
  font-size: 22px;
}

.location p {
  font-size: 18px;
}
